{% extends 'base.html' %}

{% block login %}
<div id="page-login" class="show">
  <div class="login-box">
    <div class="login-logo">🎓</div>
    <div class="login-title">SISGEU</div>
    <div class="login-sub">Sistema de Gestão Econômica Universitária</div>

    <div class="login-form">
      <div class="form-group">
        <label class="form-label">E-mail</label>
        <input class="form-input" type="email" />
      </div>

      <div class="form-group">
        <label class="form-label">Senha</label>
        <input class="form-input" type="password" />
      </div>

      <button class="login-btn">Entrar →</button>
    </div>
  </div>
</div>
{% endblock %}